wsdl/AdGroupAdService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  targetNamespace="http://ss.yahooapis.jp/V6"
  xmlns:tns="http://ss.yahooapis.jp/V6"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
      targetNamespace="http://ss.yahooapis.jp/V6"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="http://ss.yahooapis.jp/V6">
      <annotation>
        <appinfo>
          <version>6.2.0</version>
        </appinfo>
      </annotation>
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="remainingQuota" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="quotaUsedForThisRequest" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenMillis" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupAdSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adTypes" type="tns:AdType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="userStatuses" type="tns:UserStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="approvalStatuses" type="tns:ApprovalStatus"/>
          <element maxOccurs="1" minOccurs="0" name="advanced" type="tns:Advanced"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="tns:Paging"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupAdPage">
        <complexContent>
          <extension base="tns:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AdGroupAdValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupAdValues">
        <complexContent>
          <extension base="tns:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="adGroupAd" type="tns:AdGroupAd"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupAd">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="campaignId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="campaignTrackId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="campaignName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="adGroupId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupTrackId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="adId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adTrackId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="userStatus" type="tns:UserStatus"/>
          <element maxOccurs="1" minOccurs="0" name="approvalStatus" type="tns:ApprovalStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="disapprovalReasonCodes" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="ad" type="tns:Ad"/>
          <element maxOccurs="1" minOccurs="0" name="feedFolderId" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="Ad">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="type" type="tns:AdType"/>
          <element maxOccurs="1" minOccurs="0" name="advancedUrl" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="additionalAdvancedUrls" type="tns:AdGroupAdAdditionalAdvancedUrls"/>
          <element maxOccurs="1" minOccurs="0" name="advancedMobileUrl" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="additionalAdvancedMobileUrls" type="tns:AdGroupAdAdditionalAdvancedMobileUrls"/>
          <element maxOccurs="1" minOccurs="0" name="trackingUrl" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="customParameters" type="tns:CustomParameters"/>
          <element maxOccurs="1" minOccurs="0" name="advanced" type="tns:Advanced"/>
          <element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="displayUrl" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="headline" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="devicePreference" type="tns:DevicePreference"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupAdAdditionalAdvancedUrls">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="advancedUrl" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="disapprovalReasonCodes" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupAdAdditionalAdvancedMobileUrls">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="advancedMobileUrl" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="disapprovalReasonCodes" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="CustomParameters">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="isRemove" type="tns:IsRemove"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parameters" type="tns:CustomParameter"/>
        </sequence>
      </complexType>
      <complexType name="CustomParameter">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="key" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="value" type="xsd:string"/>
        </sequence>
      </complexType>
      <simpleType name="Advanced">
        <restriction base="xsd:string">
          <enumeration value="TRUE"/>
          <enumeration value="FALSE"/>
        </restriction>
      </simpleType>
      <simpleType name="IsRemove">
        <restriction base="xsd:string">
          <enumeration value="TRUE"/>
          <enumeration value="FALSE"/>
        </restriction>
      </simpleType>
      <simpleType name="AdType">
        <restriction base="xsd:string">
          <enumeration value="TEXT_AD2"/>
          <enumeration value="APP_AD"/>
          <enumeration value="EXTENDED_TEXT_AD"/>
        </restriction>
      </simpleType>
      <complexType name="TextAd2">
        <complexContent>
          <extension base="tns:Ad">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="description2" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AppAd">
        <complexContent>
          <extension base="tns:Ad">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="description2" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="appStore" type="tns:AppStore"/>
              <element maxOccurs="1" minOccurs="0" name="appId" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ExtendedTextAd">
        <complexContent>
          <extension base="tns:Ad">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="headline2" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="path1" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="path2" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="UserStatus">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <simpleType name="ApprovalStatus">
        <restriction base="xsd:string">
          <enumeration value="APPROVED"/>
          <enumeration value="APPROVED_WITH_REVIEW"/>
          <enumeration value="REVIEW"/>
          <enumeration value="PRE_DISAPPROVED"/>
          <enumeration value="POST_DISAPPROVED"/>
        </restriction>
      </simpleType>
      <simpleType name="MarkupLanguageType">
        <restriction base="xsd:string">
          <enumeration value="HTML"/>
          <enumeration value="CHTML"/>
          <enumeration value="XHTML"/>
          <enumeration value="WML"/>
          <enumeration value="ALL"/>
        </restriction>
      </simpleType>
      <simpleType name="CarrierName">
        <restriction base="xsd:string">
          <enumeration value="DOCOMO"/>
          <enumeration value="KDDI"/>
          <enumeration value="SOFTBANK"/>
          <enumeration value="ALL"/>
        </restriction>
      </simpleType>
      <simpleType name="DevicePreference">
        <restriction base="xsd:string">
          <enumeration value="SMART_PHONE"/>
        </restriction>
      </simpleType>
      <simpleType name="AppStore">
        <restriction base="xsd:string">
          <enumeration value="IOS"/>
          <enumeration value="ANDROID"/>
        </restriction>
      </simpleType>
      <complexType name="AdGroupAdOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:AdGroupAd"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupAdReturnValue">
        <complexContent>
          <extension base="tns:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AdGroupAdValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
          <enumeration value="REMOVE"/>
        </restriction>
      </simpleType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:AdGroupAdSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AdGroupAdPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:AdGroupAdOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AdGroupAdReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="AdGroupAdServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdGroupAdServiceSoapBinding" type="tns:AdGroupAdServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdGroupAdService">
    <wsdl:port binding="tns:AdGroupAdServiceSoapBinding" name="AdGroupAdService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V6.2/AdGroupAdService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
