wsdl/AdGroupCriterionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://ss.yahooapis.jp/V201805/AdGroupCriterion"
        xmlns:tns="http://ss.yahooapis.jp/V201805/AdGroupCriterion"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://ss.yahooapis.jp/V201805"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://ss.yahooapis.jp/V201805">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://ss.yahooapis.jp/V201805/AdGroupCriterion"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://ss.yahooapis.jp/V201805"
            xmlns:tns="http://ss.yahooapis.jp/V201805/AdGroupCriterion">
      <xsd:import namespace="http://ss.yahooapis.jp/V201805"/>
      <annotation>
        <appinfo>
          <version>201805</version>
        </appinfo>
      </annotation>
      <complexType name="AdGroupCriterionSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="criterionIds" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="criterionUse" type="tns:AdGroupCriterionUse"/>
          <element maxOccurs="unbounded" minOccurs="0" name="userStatuses" type="tns:UserStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="biddingStrategyIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="approvalStatuses" type="tns:ApprovalStatus"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <simpleType name="AdGroupCriterionUse">
        <restriction base="xsd:string">
          <enumeration value="BIDDABLE"/>
          <enumeration value="NEGATIVE"/>
        </restriction>
      </simpleType>
      <simpleType name="UserStatus">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <simpleType name="ApprovalStatus">
        <restriction base="xsd:string">
          <enumeration value="APPROVED"/>
          <enumeration value="APPROVED_WITH_REVIEW"/>
          <enumeration value="REVIEW"/>
          <enumeration value="PRE_DISAPPROVED"/>
          <enumeration value="POST_DISAPPROVED"/>
        </restriction>
      </simpleType>
      <complexType name="AdGroupCriterionPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AdGroupCriterionValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupCriterionValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="adGroupCriterion" type="tns:AdGroupCriterion"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupCriterion">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="campaignTrackId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="campaignName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupTrackId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="criterionUse" type="tns:AdGroupCriterionUse"/>
          <element maxOccurs="1" minOccurs="0" name="criterion" type="tns:Criterion"/>
        </sequence>
      </complexType>
      <complexType name="NegativeAdGroupCriterion">
        <complexContent>
          <extension base="tns:AdGroupCriterion"/>
        </complexContent>
      </complexType>
      <complexType name="Criterion">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="criterionId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="criterionTrackId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="type" type="tns:CriterionType"/>
        </sequence>
      </complexType>
      <simpleType name="CriterionType">
        <restriction base="xsd:string">
          <enumeration value="KEYWORD"/>
        </restriction>
      </simpleType>
      <complexType name="Keyword">
        <complexContent>
          <extension base="tns:Criterion">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="text" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="matchType" type="tns:KeywordMatchType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="KeywordMatchType">
        <restriction base="xsd:string">
          <enumeration value="EXACT"/>
          <enumeration value="PHRASE"/>
          <enumeration value="BROAD"/>
        </restriction>
      </simpleType>
      <complexType name="BiddableAdGroupCriterion">
        <complexContent>
          <extension base="tns:AdGroupCriterion">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="userStatus" type="tns:UserStatus"/>
              <element maxOccurs="1" minOccurs="0" name="approvalStatus" type="tns:ApprovalStatus"/>
              <element maxOccurs="unbounded" minOccurs="0" name="disapprovalReasonCodes" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="destinationUrl" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="reviewDestinationUrl" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="biddingStrategyConfiguration" type="tns:AdGroupCriterionBiddingStrategy"/>
              <element maxOccurs="1" minOccurs="0" name="biddingStrategyFailedReason" type="tns:BiddingStrategyFailedReason"/>
              <element maxOccurs="1" minOccurs="0" name="failedBiddingStrategyConfiguration" type="tns:AdGroupCriterionBiddingStrategy"/>
              <element maxOccurs="1" minOccurs="0" name="advancedUrl" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="reviewAdvancedUrl" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="additionalAdvancedUrls" type="tns:AdGroupCriterionAdditionalAdvancedUrls"/>
              <element maxOccurs="1" minOccurs="0" name="advancedMobileUrl" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="reviewAdvancedMobileUrl" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="additionalAdvancedMobileUrls" type="tns:AdGroupCriterionAdditionalAdvancedMobileUrls"/>
              <element maxOccurs="1" minOccurs="0" name="trackingUrl" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="reviewTrackingUrl" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="customParameters" type="tns:CustomParameters"/>
              <element maxOccurs="1" minOccurs="0" name="reviewCustomParameters" type="tns:CustomParameters"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupCriterionAdditionalAdvancedUrls">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="additionalAdvancedUrl" type="tns:AdGroupCriterionAdditionalUrl"/>
          <element maxOccurs="1" minOccurs="0" name="isRemove" type="tns:IsRemove"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupCriterionAdditionalAdvancedMobileUrls">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="additionalAdvancedMobileUrl" type="tns:AdGroupCriterionAdditionalUrl"/>
          <element maxOccurs="1" minOccurs="0" name="isRemove" type="tns:IsRemove"/>
        </sequence>
      </complexType>
      <complexType name="AdGroupCriterionAdditionalUrl">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="reviewUrl" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="disapprovalReasonCodes" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="CustomParameters">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="isRemove" type="tns:IsRemove"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parameters" type="tns:CustomParameter"/>
        </sequence>
      </complexType>
      <complexType name="CustomParameter">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="key" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="value" type="xsd:string"/>
        </sequence>
      </complexType>
      <simpleType name="IsRemove">
        <restriction base="xsd:string">
          <enumeration value="TRUE"/>
          <enumeration value="FALSE"/>
        </restriction>
      </simpleType>
      <simpleType name="BiddingStrategyFailedReason">
        <restriction base="xsd:string">
          <enumeration value="FAILURE"/>
          <enumeration value="CONVERSION_TRACKING_NOT_ENABLED"/>
          <enumeration value="NOT_ENOUGH_CONVERSIONS"/>
          <enumeration value="CANNOT_CREATE_CAMPAIGN_WITH_CONVERSION_OPTIMIZER"/>
          <enumeration value="BIDDING_STRATEGY_CANNOT_BE_OVERRIDDEN"/>
          <enumeration value="NOT_CPC_CAMPAIGN"/>
        </restriction>
      </simpleType>
      <complexType name="AdGroupCriterionBiddingStrategy">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategyId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategyName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategyType" type="tns:BiddingStrategyType"/>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategySource" type="tns:BiddingStrategySource"/>
          <element maxOccurs="1" minOccurs="0" name="biddingScheme" type="tns:BiddingScheme"/>
          <element maxOccurs="1" minOccurs="0" name="bid" type="tns:Bid"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parentBiddingStrategyConfigurations" type="tns:AdGroupCriterionBiddingStrategy"/>
        </sequence>
      </complexType>
      <simpleType name="BiddingStrategyType">
        <restriction base="xsd:string">
          <enumeration value="MANUAL_CPC"/>
          <enumeration value="BUDGET_OPTIMIZER"/>
          <enumeration value="PAGE_ONE_PROMOTED"/>
          <enumeration value="TARGET_ROAS"/>
          <enumeration value="TARGET_SPEND"/>
          <enumeration value="ENHANCED_CPC"/>
          <enumeration value="TARGET_CPA"/>
          <enumeration value="NONE"/>
        </restriction>
      </simpleType>
      <simpleType name="BiddingStrategySource">
        <restriction base="xsd:string">
          <enumeration value="CAMPAIGN"/>
          <enumeration value="ADGROUP"/>
          <enumeration value="CRITERION"/>
        </restriction>
      </simpleType>
      <complexType abstract="true" name="BiddingScheme">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategyType" type="tns:BiddingStrategyType"/>
        </sequence>
      </complexType>
      <complexType name="ManualCpcBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme"/>
        </complexContent>
      </complexType>
      <complexType name="BudgetOptimizerBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="bidCeiling" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="EnhancedCpcBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme"/>
        </complexContent>
      </complexType>
      <complexType name="PageOnePromotedBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetPositionType" type="tns:TargetPositionType"/>
              <element maxOccurs="1" minOccurs="0" name="bidCeiling" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="bidMultiplier" type="xsd:double"/>
              <element maxOccurs="1" minOccurs="0" name="bidChangesForRaisesOnly" type="tns:BidChangesForRaisesOnly"/>
              <element maxOccurs="1" minOccurs="0" name="raiseBidWhenBudgetConstrained"
                       type="tns:RaiseBidWhenBudgetConstrained"/>
              <element maxOccurs="1" minOccurs="0" name="raiseBidWhenLowQualityScore"
                       type="tns:RaiseBidWhenLowQualityScore"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="TargetPositionType">
        <restriction base="xsd:string">
          <enumeration value="PAGE_ONE"/>
          <enumeration value="PAGE_ONE_PROMOTED"/>
        </restriction>
      </simpleType>
      <simpleType name="BidChangesForRaisesOnly">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="DEACTIVE"/>
        </restriction>
      </simpleType>
      <simpleType name="RaiseBidWhenBudgetConstrained">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="DEACTIVE"/>
        </restriction>
      </simpleType>
      <simpleType name="RaiseBidWhenLowQualityScore">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="DEACTIVE"/>
        </restriction>
      </simpleType>
      <complexType name="TargetCpaBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetCpa" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="bidCeiling" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="bidFloor" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="TargetSpendBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="bidCeiling" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="spendTarget" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="TargetRoasBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetRoas" type="xsd:double"/>
              <element maxOccurs="1" minOccurs="0" name="bidCeiling" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="bidFloor" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Bid">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="maxCpc" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="bidSource" type="tns:BidSource"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupMaxCpc" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="keywordMaxCpc" type="xsd:long"/>
        </sequence>
      </complexType>
      <simpleType name="BidSource">
        <restriction base="xsd:string">
          <enumeration value="ADGROUP"/>
          <enumeration value="CRITERION"/>
        </restriction>
      </simpleType>
      <complexType name="AdGroupCriterionOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:AdGroupCriterion"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AdGroupCriterionReturnValue">
        <complexContent>
          <extension base="adv:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:AdGroupCriterionValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
          <enumeration value="REMOVE"/>
        </restriction>
      </simpleType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:AdGroupCriterionSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AdGroupCriterionPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:AdGroupCriterionOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:AdGroupCriterionReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="AdGroupCriterionServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdGroupCriterionServiceSoapBinding" type="tns:AdGroupCriterionServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdGroupCriterionService">
    <wsdl:port binding="tns:AdGroupCriterionServiceSoapBinding" name="AdGroupCriterionService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V201805/AdGroupCriterionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
