wsdl/BalanceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
targetNamespace="http://ss.yahooapis.jp/V6"
xmlns:tns="http://ss.yahooapis.jp/V6"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
    targetNamespace="http://ss.yahooapis.jp/V6"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://ss.yahooapis.jp/V6">
      <annotation>
        <appinfo>
          <version>6.4.0</version>
        </appinfo>
      </annotation>
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="remainingQuota" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="quotaUsedForThisRequest" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenMillis" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="BalanceSelector">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="1" name="accountIds" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="tns:Paging"/>
        </sequence>
      </complexType>
      <complexType name="BalancePage">
        <complexContent>
          <extension base="tns:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:BalanceValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="BalanceValues">
        <complexContent>
          <extension base="tns:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="balance" type="tns:Balance"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Balance">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="balance" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:BalanceSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:BalancePage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="BalanceServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BalanceServiceSoapBinding" type="tns:BalanceServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalanceService">
    <wsdl:port binding="tns:BalanceServiceSoapBinding" name="BalanceService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V6.4/BalanceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
