wsdl/BiddingStrategyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://ss.yahooapis.jp/V201901/BiddingStrategy"
        xmlns:tns="http://ss.yahooapis.jp/V201901/BiddingStrategy"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://ss.yahooapis.jp/V201901"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://ss.yahooapis.jp/V201901">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://ss.yahooapis.jp/V201901/BiddingStrategy"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://ss.yahooapis.jp/V201901"
            xmlns:tns="http://ss.yahooapis.jp/V201901/BiddingStrategy">
      <xsd:import namespace="http://ss.yahooapis.jp/V201901"/>
      <annotation>
        <appinfo>
          <version>201901</version>
        </appinfo>
      </annotation>
      <complexType name="BiddingStrategySelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="biddingStrategyIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="biddingStrategyTypes" type="tns:BiddingStrategyType"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="adv:Paging"/>
        </sequence>
      </complexType>
      <simpleType name="BiddingStrategyType">
        <restriction base="xsd:string">
          <enumeration value="PAGE_ONE_PROMOTED"/>
          <enumeration value="TARGET_ROAS"/>
          <enumeration value="TARGET_SPEND"/>
          <enumeration value="TARGET_CPA"/>
        </restriction>
      </simpleType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
          <enumeration value="REMOVE"/>
        </restriction>
      </simpleType>
      <complexType name="BiddingStrategyOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:BiddingStrategy"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="BiddingStrategyPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:BiddingStrategyValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="BiddingStrategyReturnValue">
        <complexContent>
          <extension base="adv:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:BiddingStrategyValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="BiddingStrategyValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="biddingStrategy" type="tns:BiddingStrategy"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="BiddingStrategy">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategyId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategyName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategyType" type="tns:BiddingStrategyType"/>
          <element maxOccurs="1" minOccurs="0" name="biddingScheme" type="tns:BiddingScheme"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="BiddingScheme">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategyType" type="tns:BiddingStrategyType"/>
        </sequence>
      </complexType>
      <complexType name="PageOnePromotedBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetPositionType" type="tns:TargetPositionType"/>
              <element maxOccurs="1" minOccurs="0" name="bidCeiling" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="bidMultiplier" type="xsd:double"/>
              <element maxOccurs="1" minOccurs="0" name="bidChangesForRaisesOnly" type="tns:BidChangesForRaisesOnly"/>
              <element maxOccurs="1" minOccurs="0" name="raiseBidWhenBudgetConstrained" type="tns:RaiseBidWhenBudgetConstrained"/>
              <element maxOccurs="1" minOccurs="0" name="raiseBidWhenLowQualityScore" type="tns:RaiseBidWhenLowQualityScore"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="TargetPositionType">
        <restriction base="xsd:string">
          <enumeration value="PAGE_ONE"/>
          <enumeration value="PAGE_ONE_PROMOTED"/>
        </restriction>
      </simpleType>
      <simpleType name="BidChangesForRaisesOnly">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="DEACTIVE"/>
        </restriction>
      </simpleType>
      <simpleType name="RaiseBidWhenBudgetConstrained">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="DEACTIVE"/>
        </restriction>
      </simpleType>
      <simpleType name="RaiseBidWhenLowQualityScore">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="DEACTIVE"/>
        </restriction>
      </simpleType>
      <complexType name="TargetCpaBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetCpa" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="bidCeiling" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="bidFloor" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="TargetSpendBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="bidCeiling" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="spendTarget" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="TargetRoasBiddingScheme">
        <complexContent>
          <extension base="tns:BiddingScheme">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="targetRoas" type="xsd:double"/>
              <element maxOccurs="1" minOccurs="0" name="bidCeiling" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="bidFloor" type="xsd:long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:BiddingStrategySelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:BiddingStrategyPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:BiddingStrategyOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:BiddingStrategyReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="BiddingStrategyServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BiddingStrategyServiceSoapBinding" type="tns:BiddingStrategyServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BiddingStrategyService">
    <wsdl:port binding="tns:BiddingStrategyServiceSoapBinding" name="BiddingStrategyService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V201901/BiddingStrategyService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
