wsdl/BulkService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
targetNamespace="http://ss.yahooapis.jp/V5"
xmlns:tns="http://ss.yahooapis.jp/V5"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
    targetNamespace="http://ss.yahooapis.jp/V5"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://ss.yahooapis.jp/V5">
      <annotation>
        <appinfo>
          <version>5.2.0</version>
        </appinfo>
      </annotation>
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="remainingQuota" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="quotaUsedForThisRequest" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenMillis" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="BulkDownloadSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignCriterionIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupCriterionIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignUserStatuses" type="tns:UserStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupUserStatuses" type="tns:UserStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupAdUserStatuses" type="tns:UserStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupCriterionUserStatuses" type="tns:UserStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupAdApprovalStatuses" type="tns:ApprovalStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="adGroupCriterionApprovalStatuses" type="tns:ApprovalStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="entityTypes" type="tns:BulkEntityType"/>
          <element maxOccurs="1" minOccurs="0" name="downloadBulkJob" type="tns:DownloadBulkJob"/>
          <element maxOccurs="1" minOccurs="1" name="lang" type="tns:BulkLang"/>
          <element maxOccurs="1" minOccurs="1" name="output" type="tns:BulkOutput"/>
          <element maxOccurs="1" minOccurs="1" name="encoding" type="tns:BulkEncoding"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <simpleType name="UserStatus">
        <restriction base="xsd:string">
          <enumeration value="ACTIVE"/>
          <enumeration value="PAUSED"/>
        </restriction>
      </simpleType>
      <simpleType name="ApprovalStatus">
        <restriction base="xsd:string">
          <enumeration value="APPROVED"/>
          <enumeration value="APPROVED_WITH_REVIEW"/>
          <enumeration value="REVIEW"/>
          <enumeration value="PRE_DISAPPROVED"/>
          <enumeration value="POST_DISAPPROVED"/>
        </restriction>
      </simpleType>
      <simpleType name="BulkEntityType">
        <restriction base="xsd:string">
          <enumeration value="CAMPAIGN"/>
          <enumeration value="NEGATIVE_CAMPAIGN_CRITERION"/>
          <enumeration value="AD_GROUP"/>
          <enumeration value="BIDDABLE_AD_GROUP_CRITERION"/>
          <enumeration value="NEGATIVE_AD_GROUP_CRITERION"/>
          <enumeration value="AD"/>
          <enumeration value="ALL"/>
        </restriction>
      </simpleType>
      <simpleType name="BulkLang">
        <restriction base="xsd:string">
          <enumeration value="JA"/>
          <enumeration value="EN"/>
        </restriction>
      </simpleType>
      <simpleType name="BulkOutput">
        <restriction base="xsd:string">
          <enumeration value="XML"/>
          <enumeration value="CSV"/>
          <enumeration value="ZIPPED_XML"/>
          <enumeration value="ZIPPED_CSV"/>
        </restriction>
      </simpleType>
      <simpleType name="BulkEncoding">
        <restriction base="xsd:string">
          <enumeration value="UTF-8"/>
          <enumeration value="SJIS"/>
          <enumeration value="EUC"/>
        </restriction>
      </simpleType>
      <complexType name="DownloadBulkJob">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadBulkJobId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadBulkJobName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadBulkUserName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadBulkStartDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadBulkEndDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadJobStatus" type="tns:DownloadBulkJobStatus"/>
          <element maxOccurs="1" minOccurs="0" name="progress" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="downloadBulkDownloadUrl" type="xsd:string"/>
        </sequence>
      </complexType>
      <simpleType name="DownloadBulkJobStatus">
        <restriction base="xsd:string">
          <enumeration value="IN_PROGRESS"/>
          <enumeration value="COMPLETED"/>
          <enumeration value="TIMEOUT"/>
          <enumeration value="SYSTEM_ERROR"/>
        </restriction>
      </simpleType>
      <complexType name="BulkDownloadReturnValue">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:BulkDownloadValues"/>
        </sequence>
      </complexType>
      <complexType name="BulkDownloadValues">
        <complexContent>
          <extension base="tns:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="downloadBulkJob" type="tns:DownloadBulkJob"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="getBulkDownloadStatus">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:BulkDownloadStatusSelector"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="BulkDownloadStatusSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="1" name="downloadBulkJobIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="downloadBulkJobStatuses" type="tns:DownloadBulkJobStatus"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="tns:Paging"/>
        </sequence>
      </complexType>
      <complexType name="BulkDownloadStatusPage">
        <complexContent>
          <extension base="tns:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:BulkDownloadValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="UploadUrlValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="acceptableUploadStatus" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="uploadUrl" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="BulkUploadStatusSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="1" name="uploadBulkJobIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="uploadBulkJobStatuses" type="tns:UploadBulkJobStatus"/>
          <element maxOccurs="1" minOccurs="1" name="lang" type="tns:BulkLang"/>
          <element maxOccurs="1" minOccurs="1" name="output" type="tns:BulkOutput"/>
          <element maxOccurs="1" minOccurs="1" name="encoding" type="tns:BulkEncoding"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="tns:Paging"/>
        </sequence>
      </complexType>
      <complexType name="BulkUploadStatusPage">
        <complexContent>
          <extension base="tns:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:BulkUploadValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="BulkUploadValues">
        <complexContent>
          <extension base="tns:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="uploadBulkJob" type="tns:UploadBulkJob"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="UploadBulkJob">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="uploadBulkJobId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="uploadBulkJobName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="uploadBulkUserName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="uploadBulkStartDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="uploadBulkEndDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="uploadBulkJobStatus" type="tns:UploadBulkJobStatus"/>
          <element maxOccurs="1" minOccurs="0" name="processingItemsCount" type="tns:ProcessingItemsCount"/>
          <element maxOccurs="1" minOccurs="0" name="progress" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="downloadBulkUploadFileUrl" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="downloadBulkUploadErrorFileUrl" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ProcessingItemsCount">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="campaignCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="negativeCampaignCriterionCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="negativeAdGroupCriterionCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="biddableAdGroupCriterionCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupAdCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="campaignErrorCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="negativeCampaignCriterionErrorCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupErrorCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="negativeAdGroupCriterionErrorCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="biddableAdGroupCriterionErrorCount" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupAdErrorCount" type="xsd:long"/>
        </sequence>
      </complexType>
      <simpleType name="UploadBulkJobStatus">
        <restriction base="xsd:string">
          <enumeration value="IN_PROGRESS"/>
          <enumeration value="COMPLETED"/>
          <enumeration value="TIMEOUT"/>
          <enumeration value="SYSTEM_ERROR"/>
        </restriction>
      </simpleType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="getBulkDownload">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:BulkDownloadSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getBulkDownloadResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:BulkDownloadReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="getBulkDownloadStatusResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:BulkDownloadStatusPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="getUploadUrl">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          </sequence>
        </complexType>
      </element>
      <element name="getUploadUrlResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:UploadUrlValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="getBulkUploadStatus">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:BulkUploadStatusSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getBulkUploadStatusResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:BulkUploadStatusPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getBulkDownloadRequest">
    <wsdl:part element="tns:getBulkDownload" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBulkDownloadResponse">
    <wsdl:part element="tns:getBulkDownloadResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBulkDownloadStatusRequest">
    <wsdl:part element="tns:getBulkDownloadStatus" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBulkDownloadStatusResponse">
    <wsdl:part element="tns:getBulkDownloadStatusResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUploadUrlRequest">
    <wsdl:part element="tns:getUploadUrl" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUploadUrlResponse">
    <wsdl:part element="tns:getUploadUrlResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBulkUploadStatusRequest">
    <wsdl:part element="tns:getBulkUploadStatus" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBulkUploadStatusResponse">
    <wsdl:part element="tns:getBulkUploadStatusResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="BulkServiceInterface">
    <wsdl:operation name="getBulkDownload">
      <wsdl:input message="tns:getBulkDownloadRequest" name="getBulkDownloadRequest"/>
      <wsdl:output message="tns:getBulkDownloadResponse" name="getBulkDownloadResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getBulkDownloadStatus">
      <wsdl:input message="tns:getBulkDownloadStatusRequest" name="getBulkDownloadStatusRequest"/>
      <wsdl:output message="tns:getBulkDownloadStatusResponse" name="getBulkDownloadStatusResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getUploadUrl">
      <wsdl:input message="tns:getUploadUrlRequest" name="getUploadUrlRequest"/>
      <wsdl:output message="tns:getUploadUrlResponse" name="getUploadUrlResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="getBulkUploadStatus">
      <wsdl:input message="tns:getBulkUploadStatusRequest" name="getBulkUploadStatusRequest"/>
      <wsdl:output message="tns:getBulkUploadStatusResponse" name="getBulkUploadStatusResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BulkServiceSoapBinding" type="tns:BulkServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBulkDownload">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getBulkDownloadRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBulkDownloadResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBulkDownloadStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getBulkDownloadStatusRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBulkDownloadStatusResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUploadUrl">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUploadUrlRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUploadUrlResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBulkUploadStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getBulkUploadStatusRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBulkUploadStatusResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulkService">
    <wsdl:port binding="tns:BulkServiceSoapBinding" name="BulkService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V5.2/BulkService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
