wsdl/ConversionTrackerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  targetNamespace="http://ss.yahooapis.jp/V5"
  xmlns:tns="http://ss.yahooapis.jp/V5"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
      targetNamespace="http://ss.yahooapis.jp/V5"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="http://ss.yahooapis.jp/V5">
      <annotation>
        <appinfo>
          <version>5.3.0</version>
        </appinfo>
      </annotation>
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="remainingQuota" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="quotaUsedForThisRequest" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenMillis" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ConversionTrackerSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="conversionTrackerIds" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="statuses" type="tns:ConversionTrackerStatus"/>
          <element maxOccurs="unbounded" minOccurs="0" name="categories" type="tns:ConversionTrackerCategory"/>
          <element maxOccurs="unbounded" minOccurs="0" name="conversionTrackerTypes" type="tns:ConversionTrackerType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="trackingCodeTypes" type="tns:TrackingCodeType"/>
          <element maxOccurs="1" minOccurs="0" name="dateRange" type="tns:ConversionDateRange"/>
          <element maxOccurs="1" minOccurs="0" name="paging" type="tns:Paging"/>
        </sequence>
      </complexType>
      <complexType name="ConversionDateRange">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="ConversionTracker">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="conversionTrackerId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="conversionTrackerName" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="status" type="tns:ConversionTrackerStatus"/>
          <element maxOccurs="1" minOccurs="0" name="category" type="tns:ConversionTrackerCategory"/>
          <element maxOccurs="1" minOccurs="0" name="numConversionEvents" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="conversionValue" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="mostRecentConversionDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="numConvertedClicks" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="conversionTrackerType" type="tns:ConversionTrackerType"/>
          <element maxOccurs="1" minOccurs="0" name="userRevenueValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="WebConversion">
        <complexContent>
          <extension base="tns:ConversionTracker">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="snippet" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="markupLanguage" type="tns:MarkupLanguage"/>
              <element maxOccurs="1" minOccurs="0" name="httpProtocol" type="tns:HttpProtocol"/>
              <element maxOccurs="1" minOccurs="0" name="trackingCodeType" type="tns:TrackingCodeType"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AppConversion">
        <complexContent>
          <extension base="tns:ConversionTracker">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="appId" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="appPlatform" type="tns:AppPlatform"/>
              <element maxOccurs="1" minOccurs="0" name="appConversionType" type="tns:AppConversionType"/>
              <element maxOccurs="1" minOccurs="0" name="snippetId" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="snippetLabel" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="appPostbackUrl" type="tns:AppPostbackUrl"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AppPostbackUrl">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="clearFlag" type="tns:AppPostbackUrlClearFlag"/>
        </sequence>
      </complexType>
      <simpleType name="ConversionTrackerStatus">
        <restriction base="xsd:string">
          <enumeration value="ENABLED"/>
          <enumeration value="DISABLED"/>
        </restriction>
      </simpleType>
      <simpleType name="ConversionTrackerType">
        <restriction base="xsd:string">
          <enumeration value="WEB_CONVERSION"/>
          <enumeration value="APP_CONVERSION"/>
        </restriction>
      </simpleType>
      <simpleType name="TrackingCodeType">
        <restriction base="xsd:string">
          <enumeration value="WEBPAGE"/>
          <enumeration value="CLICK_TO_CALL"/>
        </restriction>
      </simpleType>
      <simpleType name="ConversionTrackerCategory">
        <restriction base="xsd:string">
          <enumeration value="DEFAULT"/>
          <enumeration value="PAGE_VIEW"/>
          <enumeration value="PURCHASE"/>
          <enumeration value="SIGNUP"/>
          <enumeration value="LEAD"/>
          <enumeration value="DOWNLOAD"/>
        </restriction>
      </simpleType>
      <simpleType name="MarkupLanguage">
        <restriction base="xsd:string">
          <enumeration value="HTML"/>
          <enumeration value="CHTML"/>
          <enumeration value="XHTML"/>
          <enumeration value="WML"/>
        </restriction>
      </simpleType>
      <simpleType name="HttpProtocol">
        <restriction base="xsd:string">
          <enumeration value="HTTP"/>
          <enumeration value="HTTPS"/>
        </restriction>
      </simpleType>
      <simpleType name="AppPlatform">
        <restriction base="xsd:string">
          <enumeration value="ANDROID_MARKET"/>
        </restriction>
      </simpleType>
      <simpleType name="AppConversionType">
        <restriction base="xsd:string">
          <enumeration value="DOWNLOAD"/>
          <enumeration value="IN_APP_PURCHASE"/>
          <enumeration value="FIRST_OPEN"/>
        </restriction>
      </simpleType>
      <simpleType name="AppPostbackUrlClearFlag">
        <restriction base="xsd:string">
          <enumeration value="TRUE"/>
        </restriction>
      </simpleType>
      <simpleType name="CountingType">
        <restriction base="xsd:string">
          <enumeration value="ONE_PER_CLICK"/>
          <enumeration value="MANY_PER_CLICK"/>
        </restriction>
      </simpleType>
      <complexType name="ConversionTrackerPage">
        <complexContent>
          <extension base="tns:Page">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="totalNumConvertedClicks" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="totalNumConversionEvents" type="xsd:long"/>
              <element maxOccurs="1" minOccurs="0" name="totalConversionValue" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:ConversionTrackerValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ConversionTrackerValues">
        <complexContent>
          <extension base="tns:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="conversionTracker" type="tns:ConversionTracker"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ConversionTrackerOperation">
        <complexContent>
          <extension base="tns:Operation">
            <sequence>
              <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
              <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:ConversionTracker"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="Operation">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
        </sequence>
      </complexType>
      <simpleType name="Operator">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
        </restriction>
      </simpleType>
      <complexType name="ConversionTrackerReturnValue">
        <complexContent>
          <extension base="tns:ListReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:ConversionTrackerValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:ConversionTrackerSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:ConversionTrackerPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutate">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="operations" type="tns:ConversionTrackerOperation"/>
          </sequence>
        </complexType>
      </element>
      <element name="mutateResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:ConversionTrackerReturnValue"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateRequest">
    <wsdl:part element="tns:mutate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mutateResponse">
    <wsdl:part element="tns:mutateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="ConversionTrackerServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
      <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConversionTrackerServiceSoapBinding" type="tns:ConversionTrackerServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mutate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mutateRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mutateResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionTrackerService">
    <wsdl:port binding="tns:ConversionTrackerServiceSoapBinding" name="ConversionTrackerService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V5.3/ConversionTrackerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
