wsdl/CustomerSyncService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
targetNamespace="http://ss.yahooapis.jp/V6"
xmlns:tns="http://ss.yahooapis.jp/V6"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
    targetNamespace="http://ss.yahooapis.jp/V6"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://ss.yahooapis.jp/V6">
      <annotation>
        <appinfo>
          <version>6.0.0</version>
        </appinfo>
      </annotation>
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="remainingQuota" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="quotaUsedForThisRequest" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenMillis" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="CustomerSyncSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="campaignIds" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="entityType" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="eventTypes" type="tns:EventType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="sourceTypes" type="tns:SourceType"/>
          <element maxOccurs="1" minOccurs="0" name="dateRange" type="tns:DateRange"/>
        </sequence>
      </complexType>
      <simpleType name="EventType">
        <restriction base="xsd:string">
          <enumeration value="ADD"/>
          <enumeration value="SET"/>
          <enumeration value="REMOVE"/>
          <enumeration value="REVIEW"/>
          <enumeration value="BID"/>
          <enumeration value="STATUS"/>
          <enumeration value="BUDGET"/>
          <enumeration value="ALL"/>
        </restriction>
      </simpleType>
      <simpleType name="SourceType">
        <restriction base="xsd:string">
          <enumeration value="CAMPAIGN_MANAGEMENT_TOOL"/>
          <enumeration value="YAHOO!JAPAN_KK"/>
          <enumeration value="API"/>
          <enumeration value="BULKUPLOAD"/>
        </restriction>
      </simpleType>
      <complexType name="DateRange">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="includeUnset" type="tns:IncludeUnset"/>
        </sequence>
      </complexType>
      <simpleType name="IncludeUnset">
        <restriction base="xsd:string">
          <enumeration value="INCLUDED"/>
          <enumeration value="EXCLUDE"/>
        </restriction>
      </simpleType>
      <complexType name="CustomerChangeData">
        <complexContent>
          <extension base="tns:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:ChangeDataValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ChangeDataValues">
        <complexContent>
          <extension base="tns:ReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="auditlog" type="tns:Auditlog"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Auditlog">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="updatedTime" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="entityType" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="eventType" type="tns:EventType"/>
          <element maxOccurs="1" minOccurs="0" name="sourceType" type="tns:SourceType"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="criterionId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="feedItemId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="biddingStrategyId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="feedFolderId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="targetListId" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:CustomerSyncSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:CustomerChangeData"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="CustomerSyncServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerSyncServiceSoapBinding" type="tns:CustomerSyncServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerSyncService">
    <wsdl:port binding="tns:CustomerSyncServiceSoapBinding" name="CustomerSyncService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V6.0/CustomerSyncService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

