wsdl/FeedItemService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ss.yahooapis.jp/V6"
                  xmlns:tns="http://ss.yahooapis.jp/V6"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema elementFormDefault="qualified"
                targetNamespace="http://ss.yahooapis.jp/V6"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://ss.yahooapis.jp/V6">
            <annotation>
                <appinfo>
                    <version>6.3.0</version>
                </appinfo>
            </annotation>
            <complexType name="SoapHeader">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
                    <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="SoapResponseHeader">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="remainingQuota" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="quotaUsedForThisRequest" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="timeTakenMillis" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="FeedItem">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
                    <element maxOccurs="1" minOccurs="0" name="feedFolderId" type="xsd:long"/>
                    <element maxOccurs="1" minOccurs="0" name="feedItemId" type="xsd:long"/>
                    <element maxOccurs="1" minOccurs="0" name="feedItemTrackId" type="xsd:long"/>
                    <element maxOccurs="1" minOccurs="0" name="approvalStatus" type="tns:ApprovalStatus"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="disapprovalReasonCodes" type="xsd:string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="feedItemAttribute" type="tns:FeedItemAttribute"/>
                    <element maxOccurs="1" minOccurs="0" name="placeholderType" type="tns:FeedItemPlaceholderType"/>
                    <element maxOccurs="1" minOccurs="0" name="devicePreference" type="tns:DevicePreference"/>
                    <element maxOccurs="1" minOccurs="0" name="startDate" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="endDate" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="scheduling" type="tns:FeedItemScheduling"/>
                    <element maxOccurs="1" minOccurs="0" name="targetingCampaign" type="tns:TargetingCampaign"/>
                    <element maxOccurs="1" minOccurs="0" name="targetingAdGroup" type="tns:TargetingAdGroup"/>
                    <element maxOccurs="1" minOccurs="0" name="targetingKeyword" type="tns:TargetingKeyword"/>
                    <element maxOccurs="1" minOccurs="0" name="customParameters" type="tns:CustomParameters"/>
                    <element maxOccurs="1" minOccurs="0" name="reviewCustomParameters" type="tns:CustomParameters"/>
                    <element maxOccurs="1" minOccurs="0" name="advanced" type="tns:Advanced"/>
                </sequence>
            </complexType>
            <complexType name="FeedItemSelector">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="feedItemIds" type="xsd:long"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="placeholderTypes" type="tns:FeedItemPlaceholderType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="approvalStatuses" type="tns:ApprovalStatus"/>
                    <element maxOccurs="1" minOccurs="0" name="advanced" type="tns:Advanced"/>
                    <element maxOccurs="1" minOccurs="0" name="paging" type="tns:Paging"/>
                </sequence>
            </complexType>
            <complexType name="Paging">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
                    <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
                </sequence>
            </complexType>
            <simpleType name="FeedItemPlaceholderType">
                <restriction base="xsd:string">
                    <enumeration value="QUICKLINK"/>
                    <enumeration value="CALLEXTENSION"/>
                    <enumeration value="AD_CUSTOMIZER"/>
                    <enumeration value="CALLOUT"/>
                </restriction>
            </simpleType>
            <simpleType name="ApprovalStatus">
                <restriction base="xsd:string">
                    <enumeration value="APPROVED"/>
                    <enumeration value="APPROVED_WITH_REVIEW"/>
                    <enumeration value="REVIEW"/>
                    <enumeration value="PRE_DISAPPROVED"/>
                    <enumeration value="POST_DISAPPROVED"/>
                </restriction>
            </simpleType>
            <simpleType name="FeedItemPlaceholderField">
                <restriction base="xsd:string">
                    <enumeration value="LINK_TEXT"/>
                    <enumeration value="LINK_URL"/>
                    <enumeration value="ADVANCED_URL"/>
                    <enumeration value="ADVANCED_MOBILE_URL"/>
                    <enumeration value="TRACKING_URL"/>
                    <enumeration value="CALL_PHONE_NUMBER"/>
                    <enumeration value="AD_CUSTOMIZER_INTEGER"/>
                    <enumeration value="AD_CUSTOMIZER_PRICE"/>
                    <enumeration value="AD_CUSTOMIZER_DATE"/>
                    <enumeration value="AD_CUSTOMIZER_STRING"/>
                    <enumeration value="CALLOUT_TEXT"/>
                    <enumeration value="ADDITIONAL_ADVANCED_URLS"/>
                    <enumeration value="ADDITIONAL_ADVANCED_MOBILE_URLS"/>
                </restriction>
            </simpleType>
            <simpleType name="DevicePreference">
                <restriction base="xsd:string">
                    <enumeration value="SMART_PHONE"/>
                </restriction>
            </simpleType>
            <complexType name="FeedItemAttribute" abstract="true">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="placeholderField" type="tns:FeedItemPlaceholderField"/>
                    <element maxOccurs="1" minOccurs="0" name="feedAttributeId" type="xsd:long"/>
                </sequence>
            </complexType>
            <complexType name="SimpleFeedItemAttribute">
                <complexContent>
                    <extension base="tns:FeedItemAttribute">
                    <sequence>
                        <element maxOccurs="1" minOccurs="0" name="feedAttributeValue" type="xsd:string"/>
                        <element maxOccurs="1" minOccurs="0" name="reviewFeedAttributeValue" type="xsd:string"/>
                    </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="MultipleFeedItemAttribute">
                <complexContent>
                    <extension base="tns:FeedItemAttribute">
                        <sequence>
                            <element maxOccurs="unbounded" minOccurs="0" name="feedAttributeValues" type="tns:FeedAttributeValue"/>
                            <element maxOccurs="1" minOccurs="0" name="isRemove" type="tns:IsRemove"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="FeedAttributeValue">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="feedAttributeValue" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="reviewFeedAttributeValue" type="xsd:string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="disapprovalReasonCodes" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="FeedItemScheduling">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="schedules" type="tns:FeedItemSchedule"/>
                </sequence>
            </complexType>
            <complexType name="FeedItemSchedule">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="dayOfWeek" type="tns:DayOfWeek"/>
                    <element maxOccurs="1" minOccurs="0" name="startHour" type="xsd:long"/>
                    <element maxOccurs="1" minOccurs="0" name="startMinute" type="tns:MinuteOfHour"/>
                    <element maxOccurs="1" minOccurs="0" name="endHour" type="xsd:long"/>
                    <element maxOccurs="1" minOccurs="0" name="endMinute" type="tns:MinuteOfHour"/>
                </sequence>
            </complexType>
            <simpleType name="IsRemove">
                <restriction base="xsd:string">
                    <enumeration value="TRUE"/>
                    <enumeration value="FALSE"/>
                </restriction>
            </simpleType>
            <simpleType name="DayOfWeek">
                <restriction base="xsd:string">
                    <enumeration value="MONDAY"/>
                    <enumeration value="TUESDAY"/>
                    <enumeration value="WEDNESDAY"/>
                    <enumeration value="THURSDAY"/>
                    <enumeration value="FRIDAY"/>
                    <enumeration value="SATURDAY"/>
                    <enumeration value="SUNDAY"/>
                </restriction>
            </simpleType>
            <simpleType name="MinuteOfHour">
                <restriction base="xsd:string">
                    <enumeration value="ZERO"/>
                    <enumeration value="FIFTEEN"/>
                    <enumeration value="THIRTY"/>
                    <enumeration value="FORTY_FIVE"/>
                </restriction>
            </simpleType>
            <complexType name="TargetingCampaign">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="targetingCampaignId" type="xsd:long"/>
                </sequence>
            </complexType>
            <complexType name="TargetingAdGroup">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="targetingAdGroupId" type="xsd:long"/>
                </sequence>
            </complexType>
            <complexType name="TargetingKeyword">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="targetingKeywordId" type="xsd:long"/>
                    <element maxOccurs="1" minOccurs="0" name="text" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="matchType" type="tns:KeywordMatchType"/>
                </sequence>
            </complexType>
            <simpleType name="KeywordMatchType">
                <restriction base="xsd:string">
                    <enumeration value="EXACT"/>
                    <enumeration value="PHRASE"/>
                    <enumeration value="BROAD"/>
                </restriction>
            </simpleType>
            <complexType name="CustomParameters">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="isRemove" type="tns:IsRemove"/>
                    <element maxOccurs="3" minOccurs="0" name="parameters" type="tns:CustomParameter"/>
                </sequence>
            </complexType>
            <complexType name="CustomParameter">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="key" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="xsd:string"/>
                </sequence>
            </complexType>
            <simpleType name="Advanced">
                <restriction base="xsd:string">
                    <enumeration value="FALSE"/>
                    <enumeration value="TRUE"/>
                </restriction>
            </simpleType>
            <complexType name="FeedItemPage">
                <complexContent>
                    <extension base="tns:Page">
                        <sequence>
                            <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:FeedItemValues"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="FeedItemValues">
                <complexContent>
                    <extension base="tns:ReturnValue">
                        <sequence>
                            <element maxOccurs="1" minOccurs="0" name="feedItem" type="tns:FeedItem"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="FeedItemOperation">
                <complexContent>
                    <extension base="tns:Operation">
                        <sequence>
                            <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
                            <element maxOccurs="1" minOccurs="1" name="placeholderType" type="tns:FeedItemPlaceholderType"/>
                            <element maxOccurs="unbounded" minOccurs="1" name="operand" type="tns:FeedItem"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="FeedItemReturnValue">
                <complexContent>
                    <extension base="tns:ListReturnValue">
                        <sequence>
                            <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:FeedItemValues"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType abstract="true" name="ReturnValue">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
                </sequence>
            </complexType>
            <complexType name="Error">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
                </sequence>
            </complexType>
            <complexType name="ErrorDetail">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType abstract="true" name="Page">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
                    <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType abstract="true" name="Operation">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="operator" type="tns:Operator"/>
                </sequence>
            </complexType>
            <simpleType name="Operator">
                <restriction base="xsd:string">
                    <enumeration value="ADD"/>
                    <enumeration value="SET"/>
                    <enumeration value="REMOVE"/>
                </restriction>
            </simpleType>
            <complexType abstract="true" name="ListReturnValue">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="get">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="selector" type="tns:FeedItemSelector"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="0" name="rval" type="tns:FeedItemPage"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
                    </sequence>
                </complexType>
            </element>
            <element name="mutate">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="operations" type="tns:FeedItemOperation"/>
                    </sequence>
                </complexType>
            </element>
            <element name="mutateResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="0" name="rval" type="tns:FeedItemReturnValue"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
                    </sequence>
                </complexType>
            </element>
            <element name="RequestHeader" type="tns:SoapHeader"/>
            <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
            <element name="ApiExceptionFault" type="xsd:string"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="RequestHeader">
        <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
    </wsdl:message>
    <wsdl:message name="ResponseHeader">
        <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
    </wsdl:message>
    <wsdl:message name="getRequest">
        <wsdl:part element="tns:get" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getResponse">
        <wsdl:part element="tns:getResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="mutateRequest">
        <wsdl:part element="tns:mutate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="mutateResponse">
        <wsdl:part element="tns:mutateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ApiException">
        <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
    </wsdl:message>
    <wsdl:portType name="FeedItemServiceInterface">
        <wsdl:operation name="get">
            <wsdl:input message="tns:getRequest" name="getRequest"/>
            <wsdl:output message="tns:getResponse" name="getResponse"/>
            <wsdl:fault message="tns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="mutate">
            <wsdl:input message="tns:mutateRequest" name="mutateRequest"/>
            <wsdl:output message="tns:mutateResponse" name="mutateResponse"/>
            <wsdl:fault message="tns:ApiException" name="ApiException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FeedItemServiceSoapBinding" type="tns:FeedItemServiceInterface">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getRequest">
                <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getResponse">
                <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <wsdlsoap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mutate">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="mutateRequest">
                <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="mutateResponse">
                <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <wsdlsoap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FeedItemService">
        <wsdl:port binding="tns:FeedItemServiceSoapBinding" name="FeedItemService">
            <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V6.3/FeedItemService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
