wsdl/KeywordEstimatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  targetNamespace="http://ss.yahooapis.jp/V201805/KeywordEstimator"
  xmlns:tns="http://ss.yahooapis.jp/V201805/KeywordEstimator"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
            targetNamespace="http://ss.yahooapis.jp/V201805"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://ss.yahooapis.jp/V201805">
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenSeconds" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="requestTime" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Paging">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="numberResults" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="ListReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ListReturnValue.Type" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="Operation.Type" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified"
            targetNamespace="http://ss.yahooapis.jp/V201805/KeywordEstimator"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:adv="http://ss.yahooapis.jp/V201805"
            xmlns:tns="http://ss.yahooapis.jp/V201805/KeywordEstimator">
      <xsd:import namespace="http://ss.yahooapis.jp/V201805"/>
      <annotation>
        <appinfo>
          <version>201805</version>
        </appinfo>
      </annotation>
      <complexType name="KeywordEstimatorSelector">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="1" name="campaignEstimateRequest" type="tns:CampaignEstimateRequest"/>
        </sequence>
      </complexType>
      <complexType name="CampaignEstimateRequest">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="1" name="adGroupEstimateRequests" type="tns:adGroupEstimateRequest"/>
          <element maxOccurs="unbounded" minOccurs="0" name="provinces" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="dailyBudget" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="adGroupEstimateRequest">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="1" name="keywordEstimateRequests" type="tns:keywordEstimateRequest"/>
          <element maxOccurs="1" minOccurs="0" name="maxCpc" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="keywordEstimateRequest">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="keyword" type="tns:EstimateKeyword"/>
          <element maxOccurs="1" minOccurs="0" name="isNegative" type="tns:IsNegativeBool"/>
          <element maxOccurs="1" minOccurs="0" name="maxCpc" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="EstimateKeyword">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="text" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="matchType" type="tns:KeywordMatchType"/>
        </sequence>
      </complexType>
      <simpleType name="KeywordMatchType">
        <restriction base="xsd:string">
          <enumeration value="EXACT"/>
          <enumeration value="PHRASE"/>
          <enumeration value="BROAD"/>
        </restriction>
      </simpleType>
      <simpleType name="IsNegativeBool">
        <restriction base="xsd:string">
          <enumeration value="TRUE"/>
          <enumeration value="FALSE"/>
        </restriction>
      </simpleType>
      <complexType name="KeywordEstimatorPage">
        <complexContent>
          <extension base="adv:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:KeywordEstimateValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="KeywordEstimateResult">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="campaignId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="adGroupId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="keyword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="min" type="tns:EstimateResult"/>
          <element maxOccurs="1" minOccurs="0" name="max" type="tns:EstimateResult"/>
        </sequence>
      </complexType>
      <complexType name="EstimateResult">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="clicks" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="rank" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="cpc" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="cost" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="impressions" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="ctr" type="xsd:double"/>
        </sequence>
      </complexType>
      <complexType name="KeywordEstimateValues">
        <complexContent>
          <extension base="adv:ReturnValue">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="data" type="tns:KeywordEstimateResult"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:KeywordEstimatorSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:KeywordEstimatorPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="adv:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="adv:SoapHeader"/>
      <element name="ResponseHeader" type="adv:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="KeywordEstimatorServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KeywordEstimatorServiceSoapBinding" type="tns:KeywordEstimatorServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KeywordEstimatorService">
    <wsdl:port binding="tns:KeywordEstimatorServiceSoapBinding" name="KeywordEstimatorService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V201805/KeywordEstimatorService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
