wsdl/TrafficEstimatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
targetNamespace="http://ss.yahooapis.jp/V5"
xmlns:tns="http://ss.yahooapis.jp/V5"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified"
    targetNamespace="http://ss.yahooapis.jp/V5"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://ss.yahooapis.jp/V5">
      <annotation>
        <appinfo>
          <version>5.2.0</version>
        </appinfo>
      </annotation>
      <complexType name="SoapHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="license" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="apiAccountPassword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfAccountId" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="onBehalfOfPassword" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="service" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="remainingQuota" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="quotaUsedForThisRequest" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="timeTakenMillis" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="TrafficEstimatorSelector">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="1" name="estimateRequest" type="tns:EstimateRequest"/>
          <element maxOccurs="1" minOccurs="0" name="month" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="EstimateRequest">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="target" type="tns:EstimateTarget"/>
          <element maxOccurs="1" minOccurs="1" name="keyword" type="tns:ProposalKeyword"/>
          <element maxOccurs="1" minOccurs="1" name="bid" type="xsd:long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="platform" type="tns:ProposalPlatformTarget"/>
          <element maxOccurs="1" minOccurs="0" name="wap" type="tns:WapType"/>
        </sequence>
      </complexType>
      <complexType name="EstimateTarget">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="network" type="tns:EstimateNetwork"/>
          <element maxOccurs="1" minOccurs="0" name="mobileCarrier" type="tns:CarrierName"/>
          <element maxOccurs="unbounded" minOccurs="0" name="province" type="xsd:string"/>
        </sequence>
      </complexType>
      <simpleType name="ProposalPlatformType">
        <restriction base="xsd:string">
          <enumeration value="SMART_PHONE"/>
        </restriction>
      </simpleType>
      <simpleType name="EstimateNetwork">
        <restriction base="xsd:string">
          <enumeration value="YAHOO_SEARCH"/>
          <enumeration value="ALL"/>
        </restriction>
      </simpleType>
      <simpleType name="CarrierName">
        <restriction base="xsd:string">
          <enumeration value="DOCOMO"/>
          <enumeration value="KDDI"/>
          <enumeration value="SOFTBANK"/>
          <enumeration value="ALL"/>
        </restriction>
      </simpleType>
      <simpleType name="CriterionType">
        <restriction base="xsd:string">
          <enumeration value="KEYWORD"/>
        </restriction>
      </simpleType>
      <complexType name="ProposalKeyword">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="type" type="tns:CriterionType"/>
          <element maxOccurs="1" minOccurs="0" name="text" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="matchType" type="tns:KeywordMatchType"/>
        </sequence>
      </complexType>
      <simpleType name="KeywordMatchType">
        <restriction base="xsd:string">
          <enumeration value="EXACT"/>
          <enumeration value="PHRASE"/>
          <enumeration value="BROAD"/>
        </restriction>
      </simpleType>
      <complexType name="ProposalPlatformTarget">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="platformName" type="tns:ProposalPlatformType"/>
          <element maxOccurs="1" minOccurs="0" name="bidMultiplier" type="xsd:double"/>
        </sequence>
      </complexType>
      <simpleType name="WapType">
        <restriction base="xsd:string">
          <enumeration value="WAP_ONLY"/>
          <enumeration value="WAP_INCLUDED"/>
          <enumeration value="WAP_NONE"/>
        </restriction>
      </simpleType>
      <complexType name="TrafficEstimatorPage">
        <complexContent>
          <extension base="tns:Page">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="values" type="tns:EstimateValues"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="TrafficEstimateResult">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="type" type="tns:EstimateResultType"/>
          <element maxOccurs="1" minOccurs="0" name="keyword" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="matchType" type="tns:KeywordMatchType"/>
          <element maxOccurs="1" minOccurs="0" name="bid" type="xsd:long"/>
          <element maxOccurs="1" minOccurs="0" name="impressions" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="clicks" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="rank" type="xsd:double"/>
          <element maxOccurs="1" minOccurs="0" name="cpc" type="xsd:double"/>
        </sequence>
      </complexType>
      <complexType name="EstimateValues">
        <complexContent>
          <extension base="tns:ReturnValue">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="data" type="tns:TrafficEstimateResult"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <simpleType name="EstimateResultType">
        <restriction base="xsd:string">
          <enumeration value="TOTAL"/>
          <enumeration value="DESKTOP"/>
          <enumeration value="SMART_PHONE"/>
          <enumeration value="WAP_MOBILE"/>
        </restriction>
      </simpleType>
      <complexType name="TotalEstimateResult">
        <complexContent>
          <extension base="tns:TrafficEstimateResult">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="carrier" type="tns:CarrierName"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DesktopEstimateResult">
        <complexContent>
          <extension base="tns:TrafficEstimateResult"/>
        </complexContent>
      </complexType>
      <complexType name="SmartPhoneEstimateResult">
        <complexContent>
          <extension base="tns:TrafficEstimateResult"/>
        </complexContent>
      </complexType>
      <complexType name="WapMobileEstimateResult">
        <complexContent>
          <extension base="tns:TrafficEstimateResult">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="carrier" type="tns:CarrierName"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="ReturnValue">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="operationSucceeded" type="xsd:boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
        </sequence>
      </complexType>
      <complexType name="Error">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ErrorDetail"/>
        </sequence>
      </complexType>
      <complexType name="ErrorDetail">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestKey" type="xsd:string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="requestValue" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType abstract="true" name="Page">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="totalNumEntries" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Page.Type" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="get">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="1" name="selector" type="tns:TrafficEstimatorSelector"/>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:TrafficEstimatorPage"/>
            <element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error"/>
          </sequence>
        </complexType>
      </element>
      <element name="RequestHeader" type="tns:SoapHeader"/>
      <element name="ResponseHeader" type="tns:SoapResponseHeader"/>
      <element name="ApiExceptionFault" type="xsd:string"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="TrafficEstimatorServiceInterface">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrafficEstimatorServiceSoapBinding" type="tns:TrafficEstimatorServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader" part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader" part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrafficEstimatorService">
    <wsdl:port binding="tns:TrafficEstimatorServiceSoapBinding" name="TrafficEstimatorService">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V5.2/TrafficEstimatorService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
